@inherits LayoutComponentBase

<PageTitle>AlAnon</PageTitle>

<div class="page">
    <div style="background-image: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>