@inherits LayoutComponentBase
@inject IInicioRepository _inicioRepository

<PageTitle>AlAnon</PageTitle>
<div class="page">
	<div style="background-image: linear-gradient(135deg, #6B73FF 10%, #000DFF 100%);" class="sidebar">
		<NavMenu />
	</div>

	<main>
		@if (!String.IsNullOrEmpty(InicioDto.ImagenDeInicio))
		{
			<div style="background-image: url(@InicioDto.ImagenDeInicio);
			min-height: 160px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;" class="top-row row-lg-4 row-md-6 auth">
				<LoginDisplay />
			</div>
		}
		else
		{
			<div class="top-row px-4 auth">
			<LoginDisplay />
			</div>
		}
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code {
	private InicioDto InicioDto = new();

	protected override async void OnInitialized()
	{
		await ObtenerInicio();
	}

	private async Task ObtenerInicio()
	{
		var result = await _inicioRepository.ObtenerInicio();
		if (result != null && result.Exito)
		{
			InicioDto = result.Data;
		}
	}
}