@page "/"

@inject IInicioRepository _inicioRepository
@inject IJSRuntime _jsRuntime

<PageTitle>Inicio</PageTitle>
@if (isLoading)
{
	//Loading Symbol
	<div class="text-center pt-4">
		<img src="/images/loading.gif">
	</div>
}
else
{
	@((MarkupString)Inicio.Titulo)
	@((MarkupString)Inicio.ParrafoPrincipal)
	<a href="/publico/grupos">Directorio de Juntas en El Paso y Sur de Nuevo Mexico</a>
}

@code {
	private InicioDto Inicio = new();
	private bool isLoading { get; set; } = true;

		protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		//Only load the categories the first time the page is rendered
		if (firstRender)
		{
			await ObtenerInicio();
		}
	}

		private async Task ObtenerInicio()
	{
		isLoading = true;
		StateHasChanged();
		var result = await _inicioRepository.ObtenerInicio();
		if (result != null && result.Exito)
		{
			Inicio = result.Data;
		}
		isLoading = false;
		StateHasChanged();
	}
}
