<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/25e4f830-c030-46c5-872e-3889aa0d4947/resourceGroups/AlanonPrototype/providers/Microsoft.ApiManagement/service/AlAnonapi/apis/AlAnon</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/25e4f830-c030-46c5-872e-3889aa0d4947/resourcegroups/AlanonPrototype/providers/Microsoft.Web/sites/AlAnonAPI</ResourceId>
    <ResourceGroup>AlanonPrototype</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://alanonapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f8295f9d-9312-43a1-a019-4606950826d6</ProjectGuid>
    <PublishUrl>https://alanonapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AlAnonAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>