@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmacion de clave olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Porfavor abrir su correo electronico para resetear su clave.
</p>
