@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de clave reseteada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido restablecida. Porfavor <a asp-page="./Login">iniciar cuenta aqui</a>.
</p>
