@page "/AnunciosGenerales"

@attribute [Authorize(Roles = "Admin")]

<div class="row mt-4">
<h4 class="card-title text-primary">Manejar Anuncios Generales</h4>
<div class="col-12">
<MudGrid Spacing="2" Justify="Justify.SpaceEvenly">
    <div class="row-cols-6">
        <MudItem xs="12" md="6" lg="6" xl="6" xxl="6" Class="d-flex flex-column align-center justify-center mud-width-full py-8" >
            <MudImage class="col-sm-12" ObjectFit="ObjectFit.ScaleDown" Src="/Images/f4b165d5-847c-4b26-b4ad-87bb2d9cc7ce.jpg" />
    </MudItem>
    </div>
    <div class="row-cols-6">
        <MudItem xs="12" md="6" lg="6" xl="6" xxl="6" Class="d-flex flex-column align-center justify-center mud-width-full py-8">
            <MudImage class="col-sm-12" ObjectFit="ObjectFit.Contain" Src="/Images/afb7175e-be99-4a41-8d01-bc56697b013e.jpg" />
        </MudItem>
</div>
</MudGrid>
    </div>
</div>
@code {

}
