@page "/publico/boletin"
@inject IBoletinService _boletinService
@inject IJSRuntime _jsRuntime

@if (isLoading)
{
	//Loading Symbol
	<div class="text-center pt-4">
		<img src="/Images/loading.gif">
	</div>
}
else{
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card p-3" style="height:850px; border:1px solid #ddd;">
					@if (!string.IsNullOrWhiteSpace(BoletinDto.PdfUrl))
					{
						<iframe src="@BoletinDto.PdfUrl" style="width:100%; height:100%; border:0;"></iframe>
					}
					else
					{
						<div class="row">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-body">
										<p class="card-text text-auto-adjust">@((MarkupString)BoletinDto.Pagina1)</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="card">
									<div class="card-body">
										<p class="card-text text-auto-adjust">@((MarkupString)BoletinDto.Pagina2)</p>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
}
@code {
	private bool isLoading { get; set; } = false;
	private BoletinDto BoletinDto { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		await ObtenerBoletin();
	}

	private async Task ObtenerBoletin()
	{
		isLoading = true;
		StateHasChanged();
		var result = await _boletinService.Obtener();
		if (result != null && result.Exito && result.Data != null)
		{
			BoletinDto = result.Data;
		}
		isLoading = false;
		StateHasChanged();
	}
}
