@page "/"

@inject IInicioService _inicioService
@inject IJSRuntime _jsRuntime

<PageTitle>Al-Anon El Paso Texas y Sur de Nuevo Mexico</PageTitle>
<meta name="description" content="Encuentra el directorio y calendario de los grupos de Al-Anon en
El Paso y Sur de Nuevo Mexico en Español y mucha mas informacion. Todo relacionado con los Grupos de Familia Al-Anon
En El Paso Texas, Las Cruces y Deming Nuevo Mexico."/>

@if (isLoading)
{
	//Loading Symbol
	<div class="text-center pt-4">
		<img src="https://mangoblob20220406.blob.core.windows.net/mango/loading.gif">
	</div>
}
else
{
	@((MarkupString)Inicio.Titulo)
	@((MarkupString)Inicio.ParrafoPrincipal)
	<a class="px-0 text-start nav-link btn btn-link" href="/publico/directorio">Directorio de Juntas en El Paso y Sur de Nuevo Mexico</a>
}

@code {
	private InicioDto Inicio = new();
	private bool isLoading { get; set; } = true;

	protected override async Task OnInitializedAsync()
	{
		//Only load the categories the first time the page is rendered
		await ObtenerInicio();

	}

	private async Task ObtenerInicio()
	{
		isLoading = true;
		var result = await _inicioService.Obtener();
		if (result != null && result.Exito)
		{
			Inicio = result.Data;
		}
		isLoading = false;
	}
}
